@import './../../style/properties';

.Terapias {

    .terapias__services {

        display: flex;
        flex-direction: column;
        @media screen and (min-width: $phone-size) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .terapia__services--card {
            margin:15px auto;

            @media screen and (min-width: $phone-size) {
                max-width: 48%;
                margin:20px 5px;
            }

            @media screen and (min-width: $desktop-size) {
                max-width: 32%;
                margin:20px 5px;
            }

            

            
        }
    }
    
}