@import './../../style/properties';

.Navbar {

    @media screen and (min-width: $phone-size) {
        padding: 15px;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .navbar__text {
            padding: 10px;
            .navbar__text--decoration {
                text-decoration: none;
                color: black;
            }
        }

        .navbar__links {
            width: 50%;
            display: flex;
            justify-content: center;
        }
    }
}